# SENSITIVE DATA ---------
microservices/bot/constants/redis.ts
microservices/bot/constants/media.ts
microservices/bot/constants/limits.ts

# GENERIC -----------
dist
node_modules
.env
test

# INSTRUCTIONS -----------
*.md

# PRISMA ----------------
migrations
schema.prisma